<a href="https://colab.research.google.com/github/msudhanshu10/Complete-Data-Science/blob/master/Count_or_Frequency_Encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import files
uploaded=files.upload()

Saving mercedesbenz.csv to mercedesbenz.csv

In [5]:
df= pd.read_csv('mercedesbenz.csv', usecols=['X0', 'X1'])

In [6]:
df.head()

   X0 X1
0   k  v
1   k  t
2  az  w
3  az  t
4  az  v

One Hot Encoding

In [7]:
pd.get_dummies(df).shape

(4209, 74)

In [9]:
df.value_counts().sort_values(ascending= False).head(10)

X0  X1
z   aa    156
t   b     151
x   aa    122
y   aa    120
ay  aa    119
t   aa    111
w   s     108
z   b     106
ak  s     105
o   l     104
dtype: int64

In [10]:
df.nunique()

X0    47
X1    27
dtype: int64

In [13]:
df_X1_freq=df['X1'].value_counts().to_dict()

In [14]:
df['X1']= df['X1'].map(df_X1_freq)

In [15]:
df_X0_freq=df['X0'].value_counts().to_dict()

df['X0']= df['X0'].map(df_X0_freq)

In [16]:
df.head()

    X0   X1
0   11  408
1   11   31
2  175   52
3  175   31
4  175  408

In [17]:
df

       X0   X1
0      11  408
1      11   31
2     175   52
3     175   31
4     175  408
...   ...  ...
4204  349  598
4205  181   82
4206  349  408
4207   67  251
4208  360  251

[4209 rows x 2 columns]

#### Disadvantage:
1- If two categories have same freq, then we ll lose some information.

2- It may or may not work depending on the dataset and the result and the type of problem.