<a href="https://colab.research.google.com/github/msudhanshu10/Complete-Data-Science/blob/master/Feature_Engineering_Handling_Categorical_Features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### One Hot Encoding.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
from google.colab import files
uploaded= files.upload()

Saving titanic.csv to titanic.csv

In [3]:
df= pd.read_csv('titanic.csv', usecols=['Sex'])

In [4]:
df.head()

      Sex
0    male
1  female
2  female
3  female
4    male

In [5]:
df.isna().mean()

Sex    0.0
dtype: float64

In [8]:
df=pd.get_dummies(df, columns=['Sex'])

In [9]:
df

     Sex_female  Sex_male
0             0         1
1             1         0
2             1         0
3             1         0
4             0         1
..          ...       ...
886           0         1
887           1         0
888           1         0
889           0         1
890           0         1

[891 rows x 2 columns]

In [11]:
df.drop('Sex_female',axis=1,  inplace=True)

In [12]:
df= pd.read_csv('titanic.csv', usecols=['Embarked'])

In [13]:
df.head()

  Embarked
0        S
1        C
2        S
3        S
4        S

In [14]:
df['Embarked'].nunique()

3

In [15]:
df.isna().mean()

Embarked    0.002245
dtype: float64

In [19]:
df.dropna(inplace=True)

In [21]:
df=pd.get_dummies(df, columns=['Embarked'], drop_first=True)

In [22]:
df.head()

   Embarked_Q  Embarked_S
0           0           1
1           0           0
2           0           1
3           0           1
4           0           1